@model QlydkInternet.Helper.Notification

<div class="header"> @Model.Title </div>
<div class="content">
    <div class="ui @Model.MessageType icon message">
        <i class="@Model.Icon icon"></i>
        <div class="content">
            <div class="header">
                @Model.Content
            </div>
        </div>
    </div>
</div>