<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLĐKInternet</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/KhachHang.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--stating environment-->
    </environment>
    @RenderSection("Additional", false)
</head>
<body>
    <!--Responsive sidebar menu-->
    

    <div class="pusher">
        <div class="ui top attached purple progress">
            <div class="bar"></div>
        </div>
        <div class="ui grid container">
            <div class="ui left fixed vertical inverted menu" id="controller-menu">
                <a class="item" asp-controller="Dashboard" asp-action="Index">
                    <span><i class="home icon"></i>DASHBOARD</span>
                </a>
                <a class="item" asp-controller="HopDong" asp-action="Index">
                    <span><i class="users icon"></i>QUẢN LÝ HỢP ĐỒNG</span>
                </a>
                <a class="item" asp-controller="GoiCuoc" asp-action="Index">
                    <span><i class="add to cart icon"></i>QUẢN LÝ GÓI CƯỚC</span>
                </a>
                <a class="item" asp-controller="KhuyenMai" asp-action="Index">
                    <span><i class="file text icon"></i>QUẢN LÝ KHUYẾN MÃI</span>
                </a>
                <a class=" item" asp-controller="HoaDon" asp-action="Index">
                    <span><i class="database icon"></i>QUẢN LÝ HÓA ĐƠN</span>
                </a>
                <a class="item" asp-controller="BaoCao" asp-action="Index">
                    <span><i class="area chart layout icon"></i>BÁO CÁO</span>
                </a>
                <a class="item" asp-controller="Admin" asp-action="Index">
                    <span><i class="spy icon"></i>ADMIN</span>
                </a>
            </div>
            @RenderSection("menu", false)
            <div class="ui main centered stackable grid">

                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>