
@{
    ViewData["Title"] = "TDNV";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internet Service Provider</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/semantic/dist/semantic.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>
        $(document).ready(function () {
            $('.ui.secondary.inverted.pointing.menu').on('click', '.item', function () {
                if (!$(this).hasClass('dropdown')) {
                    $(this)
                        .addClass('active')
                        .siblings('.item')
                        .removeClass('active');
                }
            });
    });

    </script>
</head>
<body>
    @*<div class="pusher">*@
    <div class="ui top attached purple progress">
        <div class="bar"></div>
    </div>

    @*<div class="ui grid container">*@
    <div class="ui main centered stackable grid" style="margin-top: 0;">
        <!-- Responsive top menu -->
            <div class="ui fixed inverted secondary pointing menu responsive" style="height: 8%; background: black;">
                <div class="center menu" style="margin-left: 107px;">
                    <div class="item">
                        <h2>TDNV - ISP</h2>
                    </div>

                    <a class="active item" href="#banner1">Banner1</a>
                    <a class="item" href="#khuyenmai">Khuyến mãi</a>
                    <a class="item" href="#goicuoc">Gói cước</a>
                    <a class="item" href="#tuyendung">Tuyển dụng</a>
                    <a class="item" href="#hotro">Hỗ trợ</a>
                    <a class="item" href="#dangky">Đăng ký dịch vụ</a>
                </div>
                </div>
            @RenderBody()
        </div>
        <!--Footer-->
        <div class="ui black inverted vertical footer segment">
            <div class="ui center aligned grid" style="margin-left: 107px;margin-right: 107px;">
                <div class="three wide column">
                    <h4>2017 - UIT Bank</h4>
                </div>
                <div class="three wide column">
                    <h4>2017 - UIT Bank</h4>
                </div>
                <div class="seven wide right floated column">
                    <h4>2017 - UIT Bank</h4>
                    <p>Quarter 6, Linh Trung Ward, Thu Duc Dist, Ho Chi Minh city</p>
                    <p> Tel: (08) 372 52002 Fax: (08) 372 52148</p>
                </div>
            </div>
        </div>
        @*</div>*@
        @*</div>*@

</body>

</html>
