
@{
    ViewData["Title"] = "TDDN";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internet Service Provider</title>
    <style>
        .tde {
            color: #fd6436;
            text-align:left;
        }
        .lea{
            text-align:left;
        }
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/semantic/dist/semantic.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>
        $(document).ready(function () {
            $('.ui.pointing.menu').on('click', '.item', function () {
                if (!$(this).hasClass('dropdown')) {
                    $(this)
                        .addClass('active')
                        .siblings('.item')
                        .removeClass('active');
                }
            });
    });

    </script>
</head>
<body>
    <div class="pusher">

    @*<div class="ui grid container">*@
    <div class="ui main centered stackable grid" style="margin-top: 0;">
        <!-- Responsive top menu -->
            <div class="ui fixed pointing text menu responsive" style="height: 8%;">
                <div class="center menu" style="margin-left: 107px;">
                    <a class="active item" id="home">
                        <h2 style="color:#fd6436; font-size:303%">TDDN - ISP</h2>
                    </a>

                    <a class="item" id="km" style="font-size:150%">Khuyến mãi</a>
                    <a class="item" id="goicuoc" style="font-size:150%">Gói cước</a>
                    <a class="item" id="info" style="font-size:150%" >Về chúng tôi</a>
                    <a class="item" id="dangky" style="font-size:150%">Đăng ký dịch vụ</a>
                </div>
                </div>
            @RenderBody()
        </div>
        <!--Footer-->
        <div class="ui black inverted vertical footer segment">
            <div class="ui center aligned grid" style="margin-left: 107px;margin-right: 107px;">
                <div class="four wide column">
                    <h2 class="tde">
                        Về TDDN
                    </h2>
                    <p class="lea">
                        Giới thiệu chung
                    </p>
                    <p class="lea">
                        Liên kết - Thành viên
                    </p>
                    <p class="lea">
                        Khách hàng - Đối tác
                    </p>
                    <p class="lea">
                        Quan hệ cổ đông
                    </p>
                </div>
                <div class="four wide column">
                    <h2 class="tde">
                        Khách hàng TDDN
                    </h2>
                    <p class="lea">
                        Hướng dẫn sử dụng dịch vụ
                    </p>
                    <p class="lea">
                        Hỗ trợ kỹ thuật
                    </p>
                    <p class="lea">
                        Thanh toán cước
                    </p>
                    <p class="lea">
                        Góp ý khách hàng
                    </p>
                </div>
                <div class="six wide right floated column">
                    <h2 class="tde">
                        Chưa là khách hàng của TDDN
                    </h2>
                    <p class="lea">
                        Đăng ký Online
                    </p>
                    <p class="lea">
                        Sản phẩm dịch vụ
                    </p>
                    <p class="lea">
                        Khuyến mại
                    </p>
                    <p class="lea">
                        Tìm điểm giao dịch
                    </p>
                </div>
            </div>
        </div>
        @*</div>*@
        </div>

</body>

</html>
