@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .section {
        padding-bottom: 31px;
        padding-top: 31px;
        width: 100%;
    }
</style>

<a class="anchor" id="banner1"></a>
<div class="section">
    <img class="ui image" src="~/images/3.jpg">
</div>

<a class="anchor" id="khuyenmai"></a>
<div class="section">
    <h2>KHUYẾN MÃI</h2>
</div>

<a class="anchor" id="goicuoc"></a>
<div class="section">
    <h2>GÓI CƯỚC</h2>
</div>

<a class="anchor" id="tuyendung"></a>
<div class="section">
    <h2>TUYỂN DỤNG</h2>
</div>

<a class="anchor" id="hotro"></a>
<div class="section">
    <h2>HỖ TRỢ</h2>
</div>

<a class="anchor" id="dangky"></a>
<div class="section">
    <h2>ĐĂNG KÝ</h2>
</div>



