
@{
    ViewData["Title"] = "SuaThongTinKhachHang";
}

<h2 style="margin-top: 64px" class="ui header">SỬA THÔNG TIN KHÁCH HÀNG</h2>
<h3 style="margin-top: 64px" class="ui header">Thông tin của khách hàng Trần Nguyễn Trúc Linh</h3>

<div class="ui form">
    <label>Mã khách hàng</label>
    <div class="inline field">
        <label>Họ tên</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>Ngày sinh</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>Số điện thoại</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>Nghề nghiệp</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>Email</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>Địa chỉ</label>
        <input type="text" placeholder="">
    </div>
    <div class="inline field">
        <label>CMND</label>
        <input type="text" placeholder="">
    </div>
    <button class="ui button" type="submit">Lưu</button>
</div>
<button class="ui button" type="submit">Trở về</button>

