
@{
    ViewData["Title"] = "Dashboard";
}
@section menu{

}

@section Nhanvien{ 
<h3 class="ui header">
    <img src="~/images/patrick.png" class="ui circular image">
    Patrick
</h3>
}
<h2>CHÀO MỪNG ĐẾN VỚI HỆ THỐNG QUẢN LÝ ĐĂNG KÝ INTERNET</h2>

<script>
    $(document).ready(function () {
        $("#dash").addClass("ui active");
    })
</script>