
@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top: 64px" class="ui header">TẠO HÓA ĐƠN</h2>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Mã phiếu</th>
            <th>Mã khách hàng</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ gởi hóa đơn</th>
            <th>Tình trạng</th>
            <th>Tên gói cước</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td><button class="ui button">Tạo hóa đơn</button></td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td><button class="ui button">Tạo hóa đơn</button></td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td><button class="ui button">Tạo hóa đơn</button></td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>
