
@{
    ViewData["Title"] = "TaoHoaDon";
}

<h2 style="margin-top: 64px" class="ui header">TẠO HÓA ĐƠN 2</h2>


<div class="ui form">
    <div class="inline field">
        <label>Ngày in</label>
        <input type="text" placeholder="dd/mm/yyyy">
    </div>
    <div class="inline field">
        <label>Mã khách hàng</label>
        <input type="text" placeholder="KH001">
    </div>
    <button class="ui button" type="submit">Tạo</button>
</div>

    


