
@{
    ViewData["Title"] = "DanhSach";
}

<h2 style="margin-top:64px; background-color: #003333; color: white; text-align:center">THÔNG TIN KHÁCH HÀNG</h2>
<button class="ui primary button" style="font-size:large">
    Thêm khách hàng mới
</button>
<hr />
<div style="overflow-y:auto; overflow-x:auto">
    <table class="ui striped table">
        <thead>
            <tr>
                <th style="width:100px; background-color: #003333; color: white">Mã khách hàng</th>
                <th style="width:200px; background-color: #003333; color: white">Họ tên</th>
                <th style="background-color:#003333; color: white">Ngày sinh</th>
                <th style="background-color:#003333; color: white">Số điện thoại</th>
                <th style="background-color:#003333; color: white">Nghề nghiệp</th>
                <th style="background-color:#003333; color: white">Email</th>
                <th style="background-color:#003333; color: white">Địa chỉ</th>
                <th style="background-color:#003333; color: white">CMND</th>
                <th style="background-color:#003333; color: white"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>KH01</td>
                <td>Hà Thanh Đoàn</td>
                <td>14/01/1998</td>
                <td>01646711174</td>
                <td>Sinh viên</td>
                <td>thanhdoanyura@gmail.com</td>
                <td>TP.HCM</td>
                <td>215415445</td>
                <td>
                  
                        <button><i class="edit icon"></i></button>
                        <button><i class="file alternate icon"></i></button>
                  
                </td>
            </tr>         
    </table>
</div>