
@{
    ViewData["Title"] = "Xem";
}

<h2 style="margin-top:64px">XEM HỢP ĐỒNG</h2>
<hr />
<label style="font-size: 1.5em">Hợp đồng của khách hàng<p></p></label>
<hr />
<div class="ui form">
    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Mã phiếu</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Ngày đăng ký</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Ngày áp dụng</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Đối tượng</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Địa chỉ cài đặt</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Địa chỉ gửi hóa đơn</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Tài khoản</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Mật khẩu</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Loại thanh toán</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Tình trạng</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Mã khách hàng</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>

    <div class="fields">
        <div class="three wide field" style="text-align:right">
            <label>Mã gói cước</label>
        </div>
        <div class="thirteen wide field">
            <p></p>
        </div>
    </div>
    <button class="ui orange button">Sửa</button>
    <button class="ui red button">Xóa</button>
    <button class="ui blue button">Trở về</button>
</div>
